body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}
  
  canvas {
    background: #000;
    display: block;
    margin: 10px auto;
    border: 2px solid #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  